body {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 95%, .5), hsla(0, 0%, 95%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 95%, .5), hsla(0, 0%, 95%, .5));
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.header {
  position: static;
  width: 100%;
  min-height: 450px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: #000 #000 #ececec;
  background-color: #fff;
  background-image: url('../images/bg3.jpg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.header-image {
  position: static;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 25px 12px;
  opacity: 1;
}

.main-content {
  margin-bottom: 20px;
}

.contentsection1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.page-titlearea {
  width: auto;
  margin: 54px auto 0px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
}

.h1 {
  margin: 0px auto -3px;
  padding-top: 33px;
  padding-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #010101;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
}

.h1.about {
  margin-bottom: 0px;
  text-align: left;
}

.h1.about.innerpage {
  padding-top: 72px;
  color: #fff;
}

.h2 {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 55px;
  font-weight: 400;
  text-align: left;
}

.h2.listen {
  margin-bottom: 30px;
  color: #333;
}

.h2.about {
  margin-top: 46px;
  margin-bottom: 14px;
}

.h2.icon {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 0px;
  line-height: 55px;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  color: #3d3c3c;
  font-size: 22px;
  line-height: 32px;
}

.h4 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #306aaa;
  font-size: 33px;
  line-height: 46px;
}

.p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.p.topsection {
  margin-bottom: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.howimage {
  overflow: visible;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 21px;
}

.drivdiv {
  margin-right: 5%;
}

.griddiv2 {
  margin-left: 5%;
}

.content-section2 {
  margin-bottom: 0px;
}

.icon-headphones {
  margin-top: 40px;
}

.audiicon {
  max-width: 100px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  float: left;
}

.sectionhowtolisten {
  width: auto;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
}

.headphones {
  width: 60px;
  padding-top: 30px;
  float: left;
  opacity: 0.76;
}

.gridcontainer {
  padding-top: 33px;
  padding-bottom: 100px;
}

.navbar {
  height: 30px;
  padding-top: 4px;
  background-color: #fff;
}

.navlogo {
  width: auto;
  height: auto;
  margin-top: 13px;
  margin-left: 25px;
  padding-top: 0px;
}

.skiplink {
  margin-top: 0px;
  padding-top: 0px;
  color: #f5eb0b;
}

.skiplink.w--current {
  font-family: 'Open Sans', sans-serif;
  color: #0d53bd;
}

.list1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.topnav {
  padding-left: 0px;
}

.banner-title {
  padding-top: 0px;
  padding-bottom: 39px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 30px;
}

.a.skiplink {
  color: #c7d4f5;
  text-decoration: none;
}

.a.skiplink.w--current {
  padding-left: 5px;
}

.row {
  margin: 30px 0px 45px;
  padding-right: 0%;
  padding-left: 0%;
}

.image {
  padding-right: 0%;
  padding-bottom: 20px;
  border: 0px solid #fff;
  border-radius: 0px;
}

.logotitle {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.heroblock {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: url('../images/Untitled-design-2.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.hero-right-image {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 61px;
  opacity: 0.79;
}

.col-right {
  text-align: center;
}

.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  display: block;
}

.footer {
  text-align: center;
}

.twitter {
  width: auto;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.footercontainer {
  padding-top: 15px;
  border-top: 2px solid #ccc;
}

.menu-logo {
  max-height: 40px;
  margin-top: 10px;
}

.navblock {
  background-color: #036;
}

.nav-link {
  border-bottom: 5px solid #036;
  color: #94cafc;
  font-size: 18px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:active {
  color: #fff;
}

.nav-link:focus {
  text-decoration: underline;
}

.nav-link.w--current {
  border-bottom: 5px solid #94cafc;
  color: #94cafc;
}

.nav-link.w--current:focus {
  color: #fff;
  text-decoration: none;
}

.nav-link.new.w--current {
  color: #fff;
}

.blue {
  color: #0d53bd;
}

.titlesubtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.titleblock {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.skipcontentbar {
  background-color: #036;
}

.bannerimage {
  margin-top: 45px;
  margin-bottom: 30px;
}

.pagecontentabout {
  color: #0d53bd;
  font-weight: 700;
}

.pagecontentabout.innerpage {
  position: static;
  display: inline;
  overflow: visible;
  width: 1200px;
  float: none;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(180deg, #f0f0f0, #f0f0f0);
}

.emptydiv {
  height: 200px;
}

.gridimage {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.gridblock {
  width: 95%;
  padding-top: 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
}

.gridblock.flex {
  width: 100%;
}

.blocktitle {
  padding-top: 8px;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #036;
  font-size: 20px;
  line-height: 30px;
}

.blocktitle.list {
  padding-top: 0px;
}

.innerblocktext {
  position: static;
  padding: 0px;
  float: none;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.backgroundblock {
  width: 100px;
  height: 100px;
  float: left;
  clear: none;
  background-image: url('../images/Screen-Shot-2017-01-26-at-5.26.44-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 0%, 65%, .5), hsla(0, 0%, 65%, .5));
  background-image: url('../images/Screen-Shot-2017-01-26-at-5.26.44-PM.png'), linear-gradient(180deg, hsla(0, 0%, 65%, .5), hsla(0, 0%, 65%, .5));
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.row1 {
  margin-bottom: 30px;
  padding-bottom: 40px;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.listimage {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 7px;
  margin-right: 20px;
  float: left;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
}

.listimage._1 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.08.15-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.08.15-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 287px, auto;
}

.listimage._2 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.09.23-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.09.23-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 493px, auto;
}

.listimage._3 {
  background-image: url('../images/Screen-Shot-2017-01-26-at-5.26.44-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-26-at-5.26.44-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 275px, auto;
}

.listimage._4 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.10.06-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.10.06-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 500px, auto;
}

.listimage._5 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.22.41-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.22.41-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 265px, auto;
}

.listimage._6 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.23.48-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.23.48-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 245px, auto;
}

.listimage._7 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.14.24-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.14.24-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 306px, auto;
}

.listimage._8 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.27.23-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.27.23-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 253px, auto;
}

.listimage._9 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.29.48-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.29.48-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 309px, auto;
}

.listimage._10 {
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.31.57-PM.png'), -webkit-linear-gradient(270deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-image: url('../images/Screen-Shot-2017-01-27-at-2.31.57-PM.png'), linear-gradient(180deg, hsla(0, 2%, 81%, .5), hsla(0, 2%, 81%, .5));
  background-position: 0px 0px, 0px 0px;
  background-size: 477px, auto;
}

.list-content {
  position: relative;
  display: inline-block;
  width: 80%;
}

.item-block {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.inner-page-titlehead {
  height: 200px;
  background-image: -webkit-linear-gradient(270deg, #4d78e4, #4d78e4);
  background-image: linear-gradient(180deg, #4d78e4, #4d78e4);
}

.body-innerpage {
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
}

.content-container {
  margin-top: 35px;
}

.footertext {
  color: #3d3c3c;
  font-weight: 400;
}

@media (max-width: 991px) {
  .header {
    min-height: 325px;
    margin-bottom: 61px;
  }
  .header-image {
    max-width: 600px;
  }
  .contentsection1 {
    margin-bottom: 0px;
  }
  .page-titlearea {
    padding-right: 20px;
    padding-left: 20px;
  }
  .h2.icon {
    padding-top: 0px;
  }
  .content-section2 {
    margin-top: 22px;
  }
  .gridcontainer {
    padding-top: 0px;
  }
  .hero-right-image {
    max-width: 75%;
    padding-top: 53px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 365px;
  }
  .header-image {
    max-width: 400px;
  }
  .contentsection1 {
    padding-right: 25px;
    padding-left: 25px;
  }
  .page-titlearea {
    padding-right: 25px;
    padding-left: 25px;
  }
  .h1.about {
    padding-top: 19px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 39px;
  }
  .h2.about {
    font-size: 31px;
    line-height: 40px;
  }
  .h2.icon {
    padding-top: 0px;
  }
  .h3 {
    line-height: 30px;
  }
  .col1 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .drivdiv {
    margin-right: 0%;
  }
  .griddiv2 {
    margin-top: 64px;
    margin-left: 0px;
  }
  .content-section2 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .topnav {
    padding-left: 25px;
  }
  .banner-title {
    line-height: 35px;
  }
  .a.skiplink.w--current {
    padding-left: 0px;
  }
  .logotitle {
    max-width: 450px;
  }
  .hero-right-image {
    max-width: 88%;
  }
  .menu-logo {
    margin-left: 11px;
  }
  .nav-link.w--current {
    border-width: 0px;
    color: #fff;
    text-decoration: underline;
  }
  .hamburger {
    color: #fff;
    font-size: 32px;
  }
  .hamburger.w--open {
    background-color: #036;
  }
  .titlesubtext {
    padding-top: 13px;
  }
  .titleblock {
    max-width: 450px;
  }
  .pagecontentabout {
    margin-right: 25px;
    margin-left: 25px;
  }
  .dropdown {
    background-color: #036;
  }
  .col2responsive {
    padding-left: 0px;
  }
  .list-content {
    width: 65%;
  }
  .content-container {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .header {
    min-height: 310px;
    background-image: url('../images/bg3.jpg');
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .header-image {
    width: 100%;
    max-width: 300px;
  }
  .h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .h1.about {
    padding-bottom: 0px;
    font-size: 28px;
  }
  .h2 {
    font-size: 31px;
    line-height: 40px;
  }
  .h2.icon {
    padding-left: 0px;
    line-height: 40px;
  }
  .col1 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon-headphones {
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    -webkit-perspective: 1286px;
    perspective: 1286px;
  }
  .headphones {
    display: none;
  }
  .logotitle {
    max-width: 80%;
  }
  .heroblock {
    min-height: 125px;
  }
  .hero-right-image {
    max-width: 76%;
    padding-top: 29px;
  }
  .hamburger.w--open {
    background-color: #036;
  }
  .titlesubtext {
    font-size: 20px;
  }
  .titleblock {
    max-width: 300px;
  }
  .dropdown {
    background-color: #036;
  }
  .innerblocktext {
    clear: both;
  }
  .listimage {
    width: 100%;
    height: 125px;
    margin-bottom: 20px;
  }
  .list-content {
    width: 100%;
  }
}

@font-face {
  font-family: 'Opendyslexic regular';
  src: url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}