.header {
  position: static;
  width: 100%;
  min-height: 450px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  border-style: solid;
  border-width: 0px;
  border-color: #000 #000 #4d78e4;
  background-color: #fff;
  background-image: url('../images/bg3.jpg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.header-image {
  position: static;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 25px 12px;
  opacity: 1;
}

.main-content {
  margin-bottom: 20px;
}

.contentsection1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.page-titlearea {
  width: auto;
  margin: 54px auto 0px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #fff;
  text-align: center;
}

.h1 {
  margin: 0px auto -3px;
  padding-top: 33px;
  padding-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #010101;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
}

.h1.about {
  margin-bottom: 23px;
  text-align: left;
}

.h2 {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 55px;
  font-weight: 400;
  text-align: left;
}

.h2.listen {
  margin-bottom: 30px;
  color: #333;
}

.h2.about {
  margin-top: 46px;
  margin-bottom: 14px;
}

.h2.icon {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 0px;
  line-height: 55px;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  color: #3d3c3c;
  font-size: 22px;
  line-height: 32px;
}

.h4 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #306aaa;
  font-size: 33px;
  line-height: 46px;
}

.p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 25px;
}

.p.topsection {
  margin-bottom: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.howimage {
  overflow: visible;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 21px;
}

.drivdiv {
  margin-right: 5%;
}

.griddiv2 {
  margin-left: 5%;
}

.content-section2 {
  margin-bottom: 0px;
}

.icon-headphones {
  margin-top: 40px;
}

.audiicon {
  max-width: 100px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  float: left;
}

.sectionhowtolisten {
  width: auto;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
}

.headphones {
  width: 60px;
  padding-top: 30px;
  float: left;
  opacity: 0.76;
}

.gridcontainer {
  padding-top: 33px;
  padding-bottom: 100px;
}

.navbar {
  height: 30px;
  padding-top: 4px;
  background-color: #fff;
}

.navlogo {
  width: auto;
  height: auto;
  margin-top: 13px;
  margin-left: 25px;
  padding-top: 0px;
}

.skiplink {
  margin-top: 0px;
  padding-top: 0px;
  color: #f5eb0b;
}

.skiplink.w--current {
  font-family: 'Open Sans', sans-serif;
  color: #0d53bd;
}

.list1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.topnav {
  padding-left: 0px;
}

.banner-title {
  padding-top: 0px;
  padding-bottom: 39px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 30px;
}

.a.skiplink {
  color: #c7d4f5;
  text-decoration: none;
}

.a.skiplink.w--current {
  padding-left: 5px;
}

.row {
  margin: 30px 0px 45px;
  padding-right: 0%;
  padding-left: 0%;
}

.image {
  padding-right: 0%;
  padding-bottom: 20px;
  border: 0px solid #fff;
  border-radius: 0px;
}

.logotitle {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.heroblock {
  min-height: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: url('../images/Untitled-design-2.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.hero-right-image {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 61px;
  opacity: 0.79;
}

.col-right {
  text-align: center;
}

.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  display: block;
}

.footer {
  text-align: center;
}

.twitter {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.footercontainer {
  padding-top: 15px;
  border-top: 2px solid #ccc;
}

.menu-logo {
  max-height: 40px;
  margin-top: 10px;
}

.navblock {
  background-color: #036;
}

.nav-link {
  color: #fff;
  font-size: 18px;
}

.nav-link:hover {
  color: #f5eb0b;
}

.nav-link:active {
  color: #306aaa;
}

.nav-link:focus {
  text-decoration: underline;
}

.blue {
  color: #0d53bd;
}

.titlesubtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.titleblock {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.skipcontentbar {
  background-color: #036;
}

.bannerimage {
  margin-top: 45px;
}

.emptydiv {
  height: 200px;
}

@media (max-width: 991px) {
  .header {
    min-height: 325px;
    margin-bottom: 61px;
  }
  .header-image {
    max-width: 600px;
  }
  .contentsection1 {
    margin-bottom: 0px;
  }
  .page-titlearea {
    padding-right: 20px;
    padding-left: 20px;
  }
  .h2.icon {
    padding-top: 0px;
  }
  .content-section2 {
    margin-top: 22px;
  }
  .gridcontainer {
    padding-top: 0px;
  }
  .hero-right-image {
    max-width: 75%;
    padding-top: 53px;
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 365px;
  }
  .header-image {
    max-width: 400px;
  }
  .contentsection1 {
    padding-right: 25px;
    padding-left: 25px;
  }
  .page-titlearea {
    padding-right: 25px;
    padding-left: 25px;
  }
  .h2.about {
    font-size: 31px;
    line-height: 40px;
  }
  .h2.icon {
    padding-top: 0px;
  }
  .h3 {
    line-height: 30px;
  }
  .col1 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .drivdiv {
    margin-right: 0%;
  }
  .griddiv2 {
    margin-top: 64px;
    margin-left: 0px;
  }
  .content-section2 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .topnav {
    padding-left: 25px;
  }
  .banner-title {
    line-height: 35px;
  }
  .a.skiplink.w--current {
    padding-left: 0px;
  }
  .logotitle {
    max-width: 450px;
  }
  .hero-right-image {
    max-width: 88%;
  }
  .menu-logo {
    margin-left: 11px;
  }
  .hamburger {
    color: #fff;
    font-size: 32px;
  }
  .titlesubtext {
    padding-top: 13px;
  }
  .titleblock {
    max-width: 450px;
  }
  .pagecontentabout {
    margin-right: 25px;
    margin-left: 25px;
  }
  .col2responsive {
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .header {
    min-height: 310px;
    background-image: url('../images/bg3.jpg');
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .header-image {
    width: 100%;
    max-width: 300px;
  }
  .h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .h2 {
    font-size: 31px;
    line-height: 40px;
  }
  .h2.icon {
    padding-left: 0px;
    line-height: 40px;
  }
  .col1 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon-headphones {
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    -webkit-perspective: 1286px;
    perspective: 1286px;
  }
  .headphones {
    display: none;
  }
  .logotitle {
    max-width: 80%;
  }
  .heroblock {
    min-height: 125px;
  }
  .hero-right-image {
    max-width: 76%;
    padding-top: 29px;
  }
  .hamburger.w--open {
    background-color: #000;
  }
  .titlesubtext {
    font-size: 20px;
  }
  .titleblock {
    max-width: 300px;
  }
  .dropdown {
    background-color: #000;
  }
}

@font-face {
  font-family: 'Opendyslexic regular';
  src: url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}