.header {
  position: static;
  width: 100%;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #000 #000 #4d78e4;
  background-color: #036;
  text-align: center;
}

.header-image {
  position: static;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 25px 12px;
  opacity: 1;
}

.main-content {
  margin-bottom: 20px;
}

.contentsection1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.page-titlearea {
  width: auto;
  margin: 54px auto 0px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #fff;
  text-align: center;
}

.h1 {
  margin: 0px auto 13px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.h2 {
  margin-bottom: 21px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.h2.listen {
  margin-bottom: 30px;
  color: #333;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  color: #3d3c3c;
  font-size: 22px;
  line-height: 32px;
}

.h4 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #306aaa;
  font-size: 33px;
  line-height: 46px;
}

.p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 25px;
}

.p.topsection {
  margin-bottom: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.howimage {
  overflow: visible;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 21px;
}

.drivdiv {
  margin-right: 5%;
}

.griddiv2 {
  margin-left: 5%;
}

.content-section2 {
  margin-bottom: 0px;
}

.icon-headphones {
  margin-top: 40px;
}

.audiicon {
  max-width: 100px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  float: left;
}

.sectionhowtolisten {
  width: auto;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
}

.headphones {
  padding-top: 30px;
  opacity: 0.76;
}

.gridcontainer {
  padding-top: 33px;
  padding-bottom: 100px;
}

.navbar {
  height: 30px;
  padding-top: 4px;
  background-color: #fff;
}

.navlogo {
  width: auto;
  height: auto;
  margin-top: 13px;
  margin-left: 25px;
  padding-top: 0px;
}

.skiplink {
  margin-top: 0px;
  padding-top: 0px;
  color: #f5eb0b;
}

.skiplink.w--current {
  font-family: 'Open Sans', sans-serif;
  color: #0d53bd;
}

.list1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.topnav {
  padding-left: 10px;
}

.banner-title {
  padding-top: 0px;
  padding-bottom: 39px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 30px;
}

.row {
  margin: 30px 0px 45px;
  padding-right: 0%;
  padding-left: 0%;
}

.image {
  padding-right: 0%;
  padding-bottom: 20px;
  border: 0px solid #fff;
  border-radius: 0px;
}

.logotitle {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.heroblock {
  min-height: 250px;
  margin-bottom: 16px;
  background-image: url('../images/Untitled-design-2.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.hero-right-image {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 61px;
  opacity: 0.79;
}

.col-right {
  text-align: center;
}

.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  display: block;
}

.footer {
  text-align: center;
}

.twitter {
  margin-left: auto;
}

.footercontainer {
  padding-top: 15px;
  border-top: 2px solid #ccc;
}

@media (max-width: 991px) {
  .header-image {
    max-width: 600px;
  }
  .hero-right-image {
    max-width: 75%;
    padding-top: 53px;
  }
}

@media (max-width: 767px) {
  .header-image {
    max-width: 400px;
  }
  .contentsection1 {
    padding-right: 25px;
    padding-left: 25px;
  }
  .h3 {
    line-height: 30px;
  }
  .drivdiv {
    margin-right: 0%;
  }
  .griddiv2 {
    margin-top: 35px;
    margin-left: 0%;
  }
  .content-section2 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .topnav {
    padding-left: 24px;
  }
  .banner-title {
    line-height: 35px;
  }
  .logotitle {
    max-width: 450px;
  }
  .hero-right-image {
    max-width: 88%;
  }
}

@media (max-width: 479px) {
  .header-image {
    width: 100%;
    max-width: 300px;
  }
  .icon-headphones {
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    -webkit-perspective: 1286px;
    perspective: 1286px;
  }
  .logotitle {
    max-width: 80%;
  }
  .heroblock {
    min-height: 125px;
  }
  .hero-right-image {
    max-width: 76%;
    padding-top: 29px;
  }
}

